<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>ePADDY - Enhanced Pest Acoustic Detection Device for Rice</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="static/resources/Acoustic sensor.png" rel="icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static\assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static\assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static\assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static\assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="static\assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static\assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="static\assets/css/main.css" rel="stylesheet">
  

</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="static/resources/Acoustic sensor.png" alt="">
        <h1 class="sitename">ePADDY</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#features-2">Features</a></li>
          <li><a href="#gallery">Gallery</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <div class="container">
          <!-- Slide 1 -->
          <div class="carousel-item active">
              <div class="carousel-container">
                  <h2 class="animate__animated animate__fadeInDown">
                      <span>Enhanced Pest Acoustic</span><br>
                      <span>Detection Device for Rice</span>
                  </h2>
                  <p class="animate__animated animate__fadeInUp">
                    ePADDY is a state-of-the-art tool designed to aid farmers and end-users in detecting insect pests in stored rice through sophisticated sound analysis. By leveraging advanced acoustic detection technology, ePADDY offers a sustainable and efficient solution for monitoring and managing insect pests, ensuring better quality and protection of stored products.
                  </p>
                  <a href="/upload" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get Started</a>
              </div>
          </div>
      </div>
  
      <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
          <defs>
              <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
          </defs>
          <g class="wave1">
              <use xlink:href="#wave-path" x="50" y="3"></use>
          </g>
          <g class="wave2">
              <use xlink:href="#wave-path" x="50" y="0"></use>
          </g>
          <g class="wave3">
              <use xlink:href="#wave-path" x="50" y="9"></use>
          </g>
      </svg>
  
  </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row position-relative">

          <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200"><img src="static\resources\epaddy_border.png"></div>

          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
            <h2 class="inner-title">About ePADDY</h2>
            <div class="our-story">
              <h4>Est 2024</h4>
              <h3>My Thesis</h3>
              <p>This prototype web application is part of the PhD thesis entitled "<b>Enhanced monitoring of insect pests in stored rice based on their sound signature and evaluation of attractants for storage insects</b>", submitted to the faculty of Organic Agricultural Sciences at the University of Kassel, Germany in fulfillment of the requirements for the degree of Doctor of Agricultural Sciences (Dr. agr.).</p>
              
              
            </div>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

   <!-- Clients Section -->
<section id="clients" class="clients section light-background">

  <div class="container" data-aos="fade-up">

    <div class="row gy-4 d-flex justify-content-center">

      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="static/resources/logo/CGIAR-IRRI.png" class="img-fluid" alt="">
      </div><!-- End Client Item -->

      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="static/resources/logo/UniKassel.png" class="img-fluid" alt="">
      </div><!-- End Client Item -->

      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="static/resources/logo/GIZ.jpg" class="img-fluid" alt="">
      </div><!-- End Client Item -->

      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="static/resources/logo/ATSAF.jpg" class="img-fluid" alt="">
      </div><!-- End Client Item -->

    </div>

  </div>

</section>


    <!-- Features 2 Section -->
    <section id="features-2" class="features section features-2">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>System Features</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4 justify-content-between">
          <div class="features-image col-lg-4 d-flex align-items-center" data-aos="fade-up">
            <img src="static\assets/img/features.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-7 d-flex flex-column justify-content-center">

            <div class="features-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-volume-up"></i>
              <div>
                <h4>Advanced Acoustic Sensors</h4>
                <p>Utilizes state-of-the-art acoustic sensors to detect even the slightest pest activities.</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-bar-chart-fill"></i>
              <div>
                <h4>Real-Time Prediction</h4>
                <p>Provides instant insect prediction to help you.</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-sun-fill"></i>
              <div>
                <h4>Eco-Friendly</h4>
                <p>Designed with sustainability in mind, minimizing environmental impact while maximizing efficiency.</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5 " data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-person-fill"></i>
              <div>
                <h4>User-Friendly Interface</h4>
                <p>Easily navigate through our intuitive interface, suitable for users of all technical levels.</p>
              </div>
            </div><!-- End Features Item-->

          </div>
        </div>

      </div>

    </section><!-- /Features 2 Section -->

  
    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Gallery</h2>
        <p>The images below include insects such as <em>Rhyzopertha dominica, Sitophilus oryzae,</em> and <em>Tribolium castaneum.</em></p>
      </div><!-- End Section Title -->

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static\resources\gallery\Rhyzopertha dominica 1.png" class="glightbox" data-gallery="images-gallery">
                <img src="static\resources\gallery\Rhyzopertha dominica 1.png" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static\resources\gallery\Rhyzopertha dominica 2.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="static\resources\gallery\Rhyzopertha dominica 2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static\resources\gallery\Rhyzopertha dominica 3.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="static\resources\gallery\Rhyzopertha dominica 3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static\resources\gallery\Sitophilus oryzae 1.png" class="glightbox" data-gallery="images-gallery">
                <img src="static\resources\gallery\Sitophilus oryzae 1.png" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static\resources\gallery\Sitophilus oryzae 2.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="static\resources\gallery\Sitophilus oryzae 2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static\resources\gallery\Sitophilus oryzae 3.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="static\resources\gallery\Sitophilus oryzae 3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static\resources\gallery\Tribolium castaneum 1.png" class="glightbox" data-gallery="images-gallery">
                <img src="static\resources\gallery\Tribolium castaneum 1.png" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="static\resources\gallery\Tribolium castaneum 3.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="static\resources\gallery\Tribolium castaneum 3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

        </div>

      </div>

    </section><!-- /Gallery Section -->


  </main>

  <footer id="footer" class="footer light-background">
    <div class="container">
      <h3 class="sitename">ePADDY</h3>
      <p>ePADDY is part of a doctoral research project entitled
        “<b>Enhanced monitoring of insect pests in stored rice based on
        their sound signature and evaluation of attractants for storage
        insects</b>” conducted at IRRI, Philippines in collaboration
        with the Department of Agricultural Technology and Biosystems
        Engineering of the University of Kassel in Witzenhausen,
        Germany.</p>
      <div class="social-links d-flex justify-content-center">
        <a href=""><i class="bi bi-twitter-x"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-skype"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="container">
        <div class="copyright">
          <span>Copyright</span> <strong class="px-1 sitename">ePADDY</strong> <span>All Rights Reserved</span>
        </div>
        <div class="credits">
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static\assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static\assets/vendor/php-email-form/validate.js"></script>
  <script src="static\assets/vendor/aos/aos.js"></script>
  <script src="static\assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static\assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="static\assets/js/main.js"></script>

</body>

</html>