<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ePADDY</title>
    <link rel="icon" type="image/x-icon" href="static\resources\Acoustic sensor.png">
    <!-- Main CSS File -->
    <link href="static\assets/css/upload.css" rel="stylesheet">
</head>
<body>
    <h1>Enhanced Pest Acoustic Detection Device for Rice</h1>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <div class="button-container">
            <label class="custom-file-button" for="files">Choose Files</label>
            <input type="file" id="files" name="files" accept=".wav" multiple>
            <button type="submit">Upload and Predict</button>
        </div>
        <!--  display file names -->
        <div class="file-list" id="fileList">
        </div>
    </form>

    <!-- Tutorial Section -->
    <div class="tutorial-container">
        <h2>How To Use ePADDY</h2>
    
        <div class="step">
            <div class="step-number">1.</div>
            <img src="static\resources\upload-icon.png" alt="Upload Icon">
            <div class="step-text">
                <p>Upload 1 or multiple .wav files of insect species (<em>Rhyzopertha dominica</em>, <em>Tribolium castaneum</em>, or <em>Sitophilus oryzae</em>).</p>
                <p>Click the "Choose Files" button to select your files.</p>
            </div>
        </div>
    
        <hr>
    
        <div class="step">
            <div class="step-number">2.</div>
            <img src="static\resources\upload-predict-icon.png" alt="Upload and Predict Icon">
            <div class="step-text">
                <p>Once you've selected the files, click the "Upload and Predict" button to start the prediction process.</p>
            </div>
        </div>
    
        <hr>
    
        <div class="step">
            <div class="step-number">3.</div>
            <img src="static\resources\results-icon.png" alt="Results Icon">
            <div class="step-text">
                <p>Wait for the system to process the files. The results will be displayed in a separate window, showing:</p>
                <ul>
                    <li>Prediction accuracy</li>
                    <li>A bar graph with the classifications</li>
                    <li>A predicted insect species</li>
                </ul>
            </div>
        </div>

        <!-- Loader -->
        <div id="loader" style="display:none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.8); z-index: 999; text-align: center;">
            <h2>Loading... Please wait</h2>
            <img src="static\resources\Loading.gif" alt="Loading" style="margin-top: 20%;"/>
        </div>
    
    </div>
    <!--<a href="/">Go Back</a>-->

    <!-- handle file listing -->
    <script>
        document.getElementById('files').addEventListener('change', function(event) {
            const fileListContainer = document.getElementById('fileList');
            fileListContainer.innerHTML = '';

            const files = event.target.files;
            if (files.length > 0) {
                const list = document.createElement('ul');
                for (let i = 0; i < files.length; i++) {
                    const listItem = document.createElement('li');
                    listItem.textContent = files[i].name;
                    list.appendChild(listItem);
                }
                fileListContainer.appendChild(list);
            } else {
                fileListContainer.innerHTML = '<p>No files selected.</p>';
            }
        });

        const form = document.querySelector('form');
        form.addEventListener('submit', function() {
            document.getElementById('loader').style.display = 'block';
        });
    </script>
</body>
</html>
